[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pre-commit = "*"
pytest = "*"
requests = "*"
requests-mock = "*"
pytest-cov = "*"
python-decouple = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
